<div class="card-container">
  <app-card
    [title]="'Camisa D E W Y'"
    [price]="150"
    [image]="'/camisa.jpeg'"
    [hoverImage]="'/camisaHover.jpeg'"
    [link]="'roupa.html'"
  >
  </app-card>

  <app-card
    [title]="'Corta-vento D E W Y'"
    [price]="250"
    [image]="'/cortavento.jpeg'"
    [hoverImage]="'/cortaventoHover.jpeg'"
    [link]="'roupa.html'"
  >
  </app-card>

  <app-card
    [title]="'Camisa D E W Y'"
    [price]="150"
    [image]="'/blackTshirt.jpeg'"
    [hoverImage]="'/blackTshirtModel.png'"
    [link]="'roupa.html'"
  >
  </app-card>

  <app-card
    [title]="'Camisa D E W Y'"
    [price]="150"
    [image]="'/DewyRed.jpeg'"
    [hoverImage]="'/redModelo.png'"
    [link]="'roupa.html'"
  >
  </app-card>
  
  <app-card
    [title]="'Boné D E W Y'"
    [price]="100"
    [image]="'/bone.jpeg'"
    [hoverImage]="'/boneModelo.jpeg'"
    [link]="'roupa.html'"
  >
  </app-card>
  
  <app-card
    [title]="'Calça D E W Y'"
    [price]="180"
    [image]="'/calça.jpg'"
    [hoverImage]="'/modelocalça.jpeg'"
    [link]="'roupa.html'"
  >
  </app-card>
  
  <app-card
    [title]="'Bermuda D E W Y'"
    [price]="130"
    [image]="'/bermuda.jpeg'"
    [hoverImage]="'/modeloberma.jpeg'"
    [link]="'roupa.html'"
  >
  </app-card>
 
 <app-card
    [title]="'Moletom D E W Y'"
    [price]="300"
    [image]="'/moletom.jpeg'"
    [hoverImage]="'/modelomoletom.png'"
    [link]="'roupa.html'"
  >
  </app-card>


</div>
