.card-container {
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 1rem;
}



:host {
    display: block;
}

@media (min-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }
}