 <div class="card">
                
                <div class="imageContainer">
                  
                  <a [href]="link()">
                  <img
                  [src]="image()"
                  [alt]="title()"
                  class="imgDefault"
                  />
                  
                  <img
                  [src]="hoverImage()"
                  [alt]="title()"
                  class="imgHover"
                  />
                  </a>
                  
                </div>
                
                <h2>{{title()}}</h2>
                <p>R$ {{price()}}</p>
                
              </div>