 <div class="card">
                
                <div class="imageContainer">
                  
                  <a [routerLink]= "['/product-page', product().id]" >
                  <img
                  [src]="product().image"
                  [alt]="product().title"
                  class="imgDefault"
                  />
                  
                  <img
                  [src]="product().hoverImage"
                  [alt]="product().title"
                  class="imgHover"
                  />
                  </a>
                  
                </div>
                
                <h2>{{product().title}}</h2>
                <p>R$ {{product().price}}</p>
                
              </div>