.card {
    background-color: #ffffff;
    color: var(--bg-color);

    max-width: 350px;
    width: 100%;
    padding-bottom: .5rem;

    overflow: hidden;

    transition:
    transform 0.3s ease
    box-shadow 0.3s ease;
}

.card h2, p {
    font-family: var(--inter);
    font-size: 1rem;
    text-align: center;
}

.imageContainer {
    position: relative;

    width: 100%;
    margin-bottom: 1rem;
    aspect-ratio: 4/5;

    overflow: hidden;
}

.imageContainer img {
  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;
  cursor: pointer;

  transition: opacity 0.4s ease;
}

.imgDefault{
    opacity: 1;

}

.imgHover {
    opacity: 0;
}

.card:hover .imgDefault {
    opacity: 0;
}

.card:hover .imgHover{
    opacity: 1;
}

:host {
    display: block;
}