.topbar {
    width: 100%;
    padding: .9rem 0;
    overflow: hidden;
    background-color: var(--primary-color);
    color: var(--text);
    border-bottom: 1px solid var(--primary-dark);
}

.track {
    display: flex;

    gap: 3rem;
    width: fit-content;

    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    animation: marquee 20s linear infinite;
}
.track span {
    white-space: nowrap;
}

@keyframes marquee {
    from {
        transform: translate(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.nav-top {
    background-color: var(--bg-color);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}



.logo img {
    display: flex;
    align-items: center;
    justify-self: center;
    max-width: 50%;
}

.nav-top ul {
    display: flex;
    justify-content: space-around;
}

.nav-top ul li {
    display: flex;
    list-style: none;
    color: var(--text);
    cursor: pointer;
}

.nav-top ul li:hover{
    color: var(--primary-color);

}

.navIcons {
    display: flex;
    align-self: flex-end;
    gap: .5rem;
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--text);
}

@media (min-width: 768px) {
    .logo img{
        width: 20%;
    }
}

@media (min-width: 1024px) {
    .logo img {
        width: 15%;
    }
}