 <section class="lookbook">
      <article class="lookbook__item">
        <div class="lookbook__text">
          <h2>Corta-vento D E W Y</h2>
          <p>
            O melhor corta-vento de todos os tempos, não existe ventania que não
            seja cortada
          </p>
        </div>
        <figure class="lookbook__figure">
          <img src="/zermas.jpeg" />
        </figure>
      </article>

      <article class="lookbook__item lookbook__item--reverse">
        <div class="lookbook__text">
          <h2>Camisa D E W Y</h2>
          <p>
            A camisa é bonita demais, slk, muito forte, compra aí pae, tecido dela
            vem lá do Egito de uma lagarta especial chamada Lagarta D E W Y, ela
            é muito especial
          </p>
        </div>
        <figure class="lookbook__figure">
          <img src="/turma.png" />
        </figure>
      </article>

      <article class="lookbook__item">
        <div class="lookbook__text">
          <h2>Calça D E W Y</h2>
          <p>
          A calça mais forte já criada.
          Tu veste e o caimento simplesmente acontece.
          Tecido vindo direto do Egito pela lendária Lagarta D E W Y .
          Confortável, absurda e perigosa pro nível do teu outfit.
          </p>
        </div>
        <figure class="lookbook__figure">
          <img src="/modelocalça.jpeg" />
        </figure>
      </article>

      <article class="lookbook__item lookbook__item--reverse">
        <div class="lookbook__text">
          <h2>Boné D E W Y</h2>
          <p>
          O boné da DEWY não é acessório, é aura.
          Colocou na cabeça e automaticamente ganha +67 de estilo.
          Feito com tecnologia secreta da Lagarta D E W Y direto do Egito.
          Muito forte, slk.
          </p>
        </div>
        <figure class="lookbook__figure">
          <img src="/boneModelo.jpeg" />
        </figure>
      </article>
    </section>