/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');


* , *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7B2EFF;
    --primary-hover: #9A5CFF;
    --primary-dark: #4B1D91;

    --yellow: #FFD447;
    --neon: #8EFF5A;

    --secondary-color: #FF7A18;

    --bg-color:#0D0D0D;

    --text: #F5F5F2;
    --text-secondary: #B8B8B8;
    --text-grey: #7A7A7A;

    --shadow: 0 4px 12px rgba(0,0,0,0.08);
    --border: 1px solid #2A2A31;

    --poppins: 'Poppins', sans-serif;
    --inter: 'Inter', sans-serif;
    --grotesk: "Space Grotesk", sans-serif;

}

html {
    font-size: 16px; 
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: var(--inter);
}


h1, h2, h3, button, nav {
    font-family: var(--poppins);
}

a {
    text-decoration: none;
    color: inherit;
}