/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');


* , *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #7B2EFF;
    --primary-hover: #9A5CFF;
    --primary-dark: #4B1D91;

    --yellow: #FFD447;
    --neon: #8EFF5A;

    --secondary-color: #FF7A18;

    --bg-color:#0D0D0D;

    --text: #F5F5F2;
    --text-secondary: #B8B8B8;
    --text-grey: #7A7A7A;

    --shadow: 0 4px 12px rgba(0,0,0,0.08);
    --border: 1px solid #2A2A31;

    --poppins: 'Poppins', sans-serif;
    --inter: 'Inter', sans-serif;
    --grotesk: "Space Grotesk", sans-serif;

}

html {
    font-size: 16px; 
}

body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: var(--inter);
    color: var(--text);
}


h1, h2, h3, button, nav {
    font-family: var(--poppins);
}

a {
    text-decoration: none;
    color: inherit;
}

.background-main {
    position: fixed;

    inset: 0;

    z-index: -1;

    cursor: pointer;


    pointer-events: none;


    background:
        radial-gradient(circle at 20% 20%,
            rgba(128, 0, 255, 0.25),
            transparent 30%),

        radial-gradient(circle at 80% 30%,
            rgba(255, 0, 128, 0.18),
            transparent 35%),

        radial-gradient(circle at 50% 80%,
            rgba(0, 180, 255, 0.15),
            transparent 40%),

        radial-gradient(circle at 70% 70%,
            rgba(255, 180, 0, 0.08),
            transparent 30%),
        radial-gradient(circle at 70% 70%,
            rgba(255, 170, 0, 0.12),
            transparent 35%),

        radial-gradient(circle at 30% 70%,
            rgba(145, 255, 0, 0.08),
            transparent 30%),
        #050505;

    background-size: 300% 300%;
    mix-blend-mode: screen;


    animation: bgMove 25s ease-in-out infinite alternate;
}


@keyframes bgMove {

    0% {
        background-position:
            0% 0%;
    }

    50% {
        background-position:
            100% 50%;
    }

    100% {
        background-position:
            0% 100%;
    }

}

.background-main::after {
    content: "";

    position: absolute;

    inset: 0;

    background-image: url(/100-100-30.png);

    opacity: 0.9;

    mix-blend-mode: overlay;

    pointer-events: none;
}