  <form>
        <fieldset class="size-options">
          <legend>Escolha o tamanho:</legend>
          <input type="radio" id="size-p" name="size" value="P">
          <label for="size-p">P</label>
          <input type="radio" id="size-m" name="size" value="M">
          <label for="size-m">M</label>
          <input type="radio" id="size-g" name="size" value="G">
          <label for="size-g">G</label>
          <input type="radio" id="size-gg" name="size" value="GG">
          <label for="size-gg">GG</label>
        </fieldset>
          <button class="button_little_car" >Adicionar ao carrinho</button>
      </form>